@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentCore.Models.Student;
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        background-color: #f0f0f0;
        font-family: helvetica;
    }

    a {
        display: block;
        color: #ad5482;
        text-decoration: none;
        font-weight: bold;
        margin-top: 40px;
        text-align: center;
    }

    #bg {
        position: relative;
        top: 20px;
        height: 1000px;
        width: 800px;
        background: url('https://i.imgur.com/3eP9Z4O.png') center no-repeat;
        background-size: cover;
        margin-left: auto;
        margin-right: auto;
        border: #fff 15px solid;
    }

    .module {
        position: relative;
        top: 15%;
        height: 80%;
        width: 450px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 5px;
        background: RGBA(255,255,255,1);
        -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
        box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, .45);
    }

        .module ul {
            list-style-type: none;
            margin: 0;
        }

    .tab {
        float: left;
        height: 80px;
        width: 25%;
        padding-top: 20px;
        box-sizing: border-box;
        background: #eeeeee;
        text-align: center;
        cursor: pointer;
        transition: background .4s;
    }

        .tab:first-child {
            -webkit-border-radius: 5px 0px 0px 0px;
            border-radius: 5px 0px 0px 0px;
        }

        .tab:last-child {
            -webkit-border-radius: 0px 5px 0px 0px;
            border-radius: 0px 5px 0px 0px;
        }

        .tab:hover {
            background-color: rgba(0,0,0,.1);
        }

    .activeTab {
        background: #fff;
    }

        .activeTab .icon {
            opacity: 1;
        }

    .icon {
        height: 24px;
        width: 24px;
        opacity: .2;
    }

    .form {
        float: left;
        height: 100%;
        width: 100%;
        box-sizing: border-box;
        padding: 40px;
    }

    .textbox {
        height: 50px;
        width: 100%;
        border-radius: 3px;
        border: rgba(0,0,0,.3) 2px solid;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 30px;
    }

        .textbox:focus {
            outline: none;
            border: rgba(24,149,215,1) 2px solid;
            color: rgba(24,149,215,1);
        }

    .button {
        height: 50px;
        width: 100%;
        border-radius: 3px;
        border: rgba(0,0,0,.3) 0px solid;
        box-sizing: border-box;
        padding: 10px;
        margin-bottom: 30px;
        background: #90c843;
        color: #FFF;
        font-weight: bold;
        font-size: 12pt;
        transition: background .4s;
        cursor: pointer;
    }

        .button:hover {
            background: #80b438;
        }

    .radio-group {
        margin-bottom: 30px;
    }

        .radio-group label {
            margin-right: 10px;
            font-weight: normal;
            display: inline-block;
            width: 50px; /* Adjust width */
            line-height: 30px; /* Adjust height */
        }

        .radio-group input[type="radio"] {
            transform: scale(1.2); /* Adjust size */
            margin-right: 10px; /* Adjust space between radio button and label */
        }

    .dropdown-group {
        margin-bottom: 30px;
    }

    .dropdown {
        height: 50px;
        width: 100%;
        border-radius: 3px;
        border: rgba(0,0,0,.3) 2px solid;
        box-sizing: border-box;
        padding: 10px;
        background: white;
    }

        .dropdown:focus {
            outline: none;
            border: rgba(24,149,215,1) 2px solid;
            color: rgba(24,149,215,1);
        }
</style>

<div id="bg">
    <div class="module">
        <ul>
            <li class="tab activeTab"><img src="https://i.imgur.com/Fk1Urva.png" alt="" class="icon" /></li>
            <li class="tab"><img src="https://i.imgur.com/ZsRgIDD.png" alt="" class="icon" /></li>
            <li class="tab"><img src="https://i.imgur.com/34Q50wo.png" alt="" class="icon" /></li>
            <li class="tab"><img src="https://i.imgur.com/LCCJ06E.png" alt="" class="icon" /></li>
        </ul>

        <form class="form" action="Register" method="post">
            <input type="text" placeholder="Name" name="Sname" class="textbox" />
            <span asp-validation-for="Sname"></span></>
            <input type="text" placeholder="Address" name="Address" class="textbox" />
            <span asp-validation-for="Address"></span></>
            <input type="text" placeholder="Email Address" name="Semail" class="textbox" />
            <span asp-validation-for="Email Address"></span></>
            <input type="text" placeholder="Mobile No" name="Smobno" class="textbox" />
            <span asp-validation-for="Smobno"></span></>
            <label>Gender:</label>
            <div class="radio-group">
                <label><input type="radio" name="gender" value="male" /> Male</label>
                <label><input type="radio" name="gender" value="female" /> Female</label>
                <label><input type="radio" name="gender" value="other" /> Other</label>
            </div>
            <label>Course:</label>
            <div class="dropdown-group">
                <select name="course" class="dropdown">
                    <option value="">Select Course</option>
                    <option value="BCA">BCA</option>
                    <option value="BCS">BCS</option>
                    <option value="MCA">MCA</option>
                </select>
            </div>
            </br></br>
            <input type="submit" value="Register" class="button" />
        </form>
    </div>
</div>

<a href="http://dribbble.com/shots/1265587-Registration-Template-PSD?list=everyone" target="_blank">Design by: Suraj Raut</a>
